2_DryCreek_Interpolation.csv
2_DryCreek_Interpolation_Flag.csv
2_DryCreek_Interpolation_Flag.csv
3_DryCreek_Regression.csv
3_DryCreek_Regression_Flag.csv
4_DryCreek_ClimateCatalog.csv
4_DryCreek_ClimateCatalog_Flag.csv
5_DryCreek_final_cleaned.csv
5_DryCreek_final_cleaned_flag.csv
DryCreek_NetCDF.nc
Widgets_DataQualityControlAndCleaning_V1-Copy1.ipynb
WorkFlowChoosen.pptx 